body 
{
    margin: 20px;
    line-height: 1.6;
    background-color: #fdfdfd;
    color:#333;
}
  

h1, h2, h3 
{
    color:#2c3e50;
}
  
p 
{
    margin-bottom: 10px;
}
  
  
a 
{
    text-decoration: none;
    color: #0073e6;
}
  
hr 
{
    border: 1px solid black;
    height: 1px;
    background: #ccc;
    margin: 20px 0;

}
  